<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
</th:block>

<!--<head>: HTML 문서의 메타데이터를 포함하는 영역 -->
<!--<meta> 태그 필수-->
<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<div layout:fragment="content" class="content"></div>

<div class="container">
    <div class="row my-4">
        <div class="col-3">
            <label for="nom">입력</label>
            <input type="text" id="nom">
        </div>
        <div class="col-4">
            <label for="date">Date</label>
            <input type="date" id="date">
        </div>
        <div class="col-3">
            <button id="envoi" >리스트 추가</button>
        </div>
        <div class="col-2">
            <button id="toggler" class="btn btn-primary" onclick="archivesButton()">보관하기</button>
        </div>
    </div>

    <h4 id="title"></h4>

    <div class="row bg-dark text-light">
        <div class="col-1">진행여부</div>
        <div class="col-4">제목</div>
        <div class="col-3">날짜</div>
        <div class="col-2">완료</div>
        <div class="col-2">보관</div>
    </div>
</div>
<div id="cible" class="container">
</div>

    <!--페이징-->
    <a href="#" class="previous" onclick="before();">&laquo; 이전</a>
    <span id="now-page"></span>
    <span >/</span>
    <span id="total-page"></span>
    <a href="#" class="next" onclick="next();">다음 &raquo;</a>
</div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>
</body>
</html>