<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
</th:block>

<div layout:fragment="content" class="content">
<!-- 투두리스트 리스트 -->
    <div class="container">
        <div class="row" th:object="${todoSearchDto}">
            <div class="col">
                <input type="text" class="form-control" placeholder="검색" th:field="*{searchQuery}">

            </div>
            <div class="col">
                <label for="date">날짜</label>
                <input type="date" id="date">
                <button class="button" type="submit" onclick="location.href='/write'">리스트 추가</button>
            </div>
            <div>
                <form th:action="@{'/list/' + todoLists.number}" method="get" th:object="${todoLists}">
                    <table>
                        <tr>
                            <th scope="col-4">제목</th>
                            <th scope="col-3">마감기한</th>
                            <th scope="col-2">우선순위</th>
                        </tr>

                        <tr th:each="todoList, status: ${todoLists.getContent()}">
                            <td>
                                <a th:href="'/detail/' + ${todoList.id}"
                                   th:text="${todoList.title}">
                                </a>
                            </td>
                            <td th:text="${todoList.deadline}"></td>
                            <td th:text="${todoList.status}"></td>
                        </tr>
                    </table>
                </form>

            </div>

        </div>
    </div>
    <!--페이징-->
    <a href="#" class="previous" onclick="before();">&laquo; 이전</a>
    <span id="now-page"></span>
    <span >/</span>
    <span id="total-page"></span>
    <a href="#" class="next" onclick="next();">다음 &raquo;</a>
</div>





<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>
</body>
</html>