<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
</th:block>

<!--<head>: HTML 문서의 메타데이터를 포함하는 영역 -->
<!--<meta> 태그 필수-->
<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<div layout:fragment="content">
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">TODO 추가하기</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="form-title" class="col-form-label">제목 : </label>
                        <input type="text" class="form-control" id="form-title"  maxlength="40">
                    </div>
                    <div class="form-group">
                        <label for="form-desc" class="col-form-label">내용 : </label>
                        <textarea class="form-control" id="form-desc" maxlength="300"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="deadline-date" class="col-form-label">마감기한 : </label>
                        <input type="date" class="form-control" id="deadline-date">
                    </div>
                    <p>우선 순위 : </p>
                    <div>
                        <div class="form-check-inline">
                            <label class="form-check-label priority1">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="High"> High
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label priority2">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="Medium"> Medium
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label priority3">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="Low"> Low
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="submit-todo">추가</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>