<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</th:block>
<div layout:fragment="content">
    <section class="container">
        <h2 class="h3 mb-1 text-black">로그인</h2>

        <form role="form" action="/members/login" method="post">
            <div class="form-group row">
                <div class="col-md-12">
                    <label th:for="email"><b>아이디</b></label>
                    <input type="text" placeholder="이메일을 입력하세요" class="form-control" id="email" name="email" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label th:for="password" class="text-black"><b>비밀번호</b></label>
                    <input type="password" placeholder="비밀번호를 입력하세요" name="password" required>
                </div>
            </div>

            <div class="md-12">
                <p th:if="${loginErrorMsg}" th:text="${loginErrorMsg}" class="error"></p>
                    <input type="checkbox" name="id_save" id="id_save"/>아이디저장

            </div>
            <div class="form-group row">
                <button type="submit" class="custom-btn btn-5" id="loginbtn">로그인</button>
                &nbsp;
                <button type="button" class="custom-btn btn-13"
                    onclick="location.href='/members/new'">회원가입</button>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        </form>
    </section>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/cookie.js}"></script>
    <script th:inline="javascript">
       var userInputId = getCookie("userInputId"); //쿠키값(이메일)을 가져온다
       var setCookieYN = getCookie("setCookieYN"); //쿠키값(이메일 저장 여부)을 가져온다

       if(setCookieYN == 'Y') { //이메일 저장 여부가 'Y' 라면
           $("#id_save").prop("checked", true); //이메일 저장 체크박스를 체크한다.
           $("#email").val(userInputId); //이메일 input창에 쿠키에서 가져온 이메일 주소를 넣는다.
       } else {
           $("#id_save").prop("checked", false);
       }

       //로그인 버튼 클릭시 이메일 저장이 클릭되어 있다면 쿠키에 이메일 저장여부, 이메일 저장
       $("#loginbtn").click(function() {
           if($("#id_save").is(":checked")) { //이메일 저장이 체크되어 있다면
               var userInputId = $("#email").val(); //입력한 이메일을 가지고 온다.

               //쿠키 생성
               setCookie("userInputId", userInputId, 60); //이메일 저장
               setCookie("setCookieYN", "Y", 60); //이메일 저장여부 저장

           } else {
               //쿠키 삭제
               deleteCookie("userInputId");
               deleteCookie("setCookieYN");
           }
       });
    </script>
</th:block>
</html>